@font-face {
  font-family: TrajanPro-Regular;
  src: url(/fonts/TrajanPro-Regular.otf) format("opentype");
}

@font-face {
  font-family: TrebuchetMS;
  src: url(/fonts/TrebuchetMS.ttf) format("truetype");
}

.preloader {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.preloader-box {
  text-align: center;
  position: relative;
  margin: auto;
  margin-top: 25%;
  height: 200px;
  width: 200px;
}

.bg1 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  background: url(/images/bg_1.jpg) no-repeat top center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg2 {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
  background: url(/images/bg_1.jpg) no-repeat top center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.left-side-bar-bg {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url("/images/side_bar_bg.png");
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto auto;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 562px;
}

.left-side-bar {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 400px;
  height: 100%;
  min-height: 750px;
}

.logo {
  margin-top: 200px;
  margin-left: 0px;
  position: relative;
  height: 150px;
  width: 290px;
  background-color: white;
  padding-top: 20px;
  padding-left: 30px;
  z-index: 100;
}

.footer {
  position: fixed;
  background-image: url("/images/trans_bg.png");
  border: 1px solid #696969;
  height: 20px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  color: black;
  font-size: 12px;
  z-index: 10;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  text-align: right;
}

.menu-container {
  position: fixed;
  top: 355px;
  left: -10px;
  height: 211px;
  width: 200px;
  z-index: 100;
  font-family: TrebuchetMS;
  font-weight: 20;
}

.menu-container ul {
  position: absolute;
  list-style-type: none;
  letter-spacing: 0.15em;
  line-height: 35px;
  padding-left: 10px;
}

.menu-container li {
  margin-top: 5px;
}

.menu-container ul a {
  opacity: 0;
  text-align: right;
  font-size: 12px;
  width: 310px;
  color: #cf292d;
  background-color: white;
  display: block;
  text-decoration: none;
  line-height: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
}

.menu-container ul a:hover {
  color: white;
  background-color: #cf292d;
}

.menu-hl {
  position: absolute;
  left: 20px;
  margin-top: 0px;
  background-color: #594a42;
  height: 3px;
  width: 0px;
}

.red-line {
  display: inline;
  position: relative;
  float: left;
  height: 2px;
  width: 7px;
  margin-top: 7px;
  margin-right: 5px;
  background-color: #931616;
}

.sub-menu-box {
  float: left;
}

.sub-menu {
  display: none;
  list-style-type: none;
  position: relative;
  line-height: 20px;
  font-size: 12px;
}

.copyright-box {
  position: fixed;
  text-align: left;
  height: 40px;
  width: 400px;
  bottom: 0px;
  right: 0px;
  text-align: left;
  margin-left: 80px;
  font-size: 10px;
}

.ourLink {
  color: black;
  font-size: 12px;
  margin-right: 30px;
}

.ourlink :hover {
  color: #696969;
}

.phone-num {
  color: white;
  font-size: 14px;
}

body {
  background-color: black;
}

h1 {
  font-family: TrebuchetMS;
  font-size: 24px;
  color: black;
  margin-left: 30px;
  opacity: 1;
  font-weight: 100;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-right: 20px;
}

h2 {
  font-family: "TrajanPro-Regular";
  font-size: 13px;
  color: black;
  margin: 0px;
  margin-left: 30px;
  opacity: 1;
}

p {
  color: black;
  opacity: 1;
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 5px;
  letter-spacing: 0.07em;
  font-family: TrebuchetMS;
  font-size: 13px;
}

img {
  border: 2px solid white;
}

td {
  padding-left: 20px;
}

li {
  font-size: 12px;
  letter-spacing: 0.1em;
}

.social-icon {
  position: relative;
  margin-left: 20px;
}

.photo-preload {
  position: fixed;
  top: 0px;
  left: -2000px;
  height: 1px;
  width: 1px;
}

.content-border {
  position: absolute;
  width: 560px;
  height: 100%;
  top: 0px;
  background-image: url("/images/trans_bg.png");
  z-index: -1;
}

#page1, #page2, #page3, #page4, #page5, #page6, #page7, #page8 {
  position: absolute;
  padding: 10px;
  z-index: 1;
  display: block;
  top: 0px;
  left: 370px;
  padding: 20px;
  width: 500px;
  height: 100%;
  font-size: 12px;
}

.scroller {
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 0;
  border: 1px solid #aaaaaa;
  border-style: solid;
  border-width: 0.7px;
  border-color: #383733;
  background: rgba(0, 0, 0, 0.7);
  height: auto;
}

.content {
  padding: 0px;
  margin-bottom: 15px;
  z-index: 20;
  width: 100%;
  height: auto;
}

.close-content {
  z-index: 2;
  height: 25px;
  background-color: #931616;
  float: right;
  color: white;
  font-family: "TrajanPro-Regular";
  font-size: 15px;
  width: 75px;
  text-align: center;
  padding-top: 3px;
  margin-top: 0px;
}

.close-content:hover {
  background-color: white;
  color: #931616;
}

.gallery-container {
  text-align: center;
  width: 500px;
}

.icon {
  border: 0 solid white;
}

.normal-list {
  color: #cccccc;
  font-family: "TrajanPro-Regular";
  line-height: 25px;
}

.content-text {
  background: rgba(255, 255, 255, 0.6);
  height: auto;
  -moz-border-radius: 5px 25px 5px 25px;
  border-radius: 5px 25px 5px 25px;
  padding: 20px;
  padding-bottom: 40px;
}

.contact-form {
  overflow: hidden;
}
.contact-form iframe {
  position: relative;
  top: -30px;
  margin-top: -30px;
}

.download {
  color: white;
  font-family: "TrajanPro-Regular";
  font-size: 15px;
  margin: 20px;
}
